[class^="container-"] {
  display: grid;
  grid-gap: 10px;
}

.container-fr {
  /* fr: takes available space size */
  grid-template: 1fr / 1fr 1fr 1fr;
}

.container-auto {
  /* auto: it adapts to its content */
  grid-template: 1fr / 1fr auto auto;
}

.item {
  background: olivedrab;
  border: 2px solid orange;
  padding: 10px;
}
