body {
  margin: 0;
  height: 100vh;
  text-align: center;
}

.container {
  height: 100%;
  display: grid;
  grid-gap: 10px;

  grid-template: repeat(6, 1fr) / repeat(4, 1fr);
}

.item {
  background: olivedrab;
  border: 2px solid orange;
  padding: 10px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.item:nth-child(1) {
  background: orange;
  border: 2px solid olivedrab;

  /* grid-column-start: 1;
  grid-column-end: 3; */

  /* Shorthand: grid-column: start / end */
  grid-column: 1 / 3; /* Number of grid line, not grid cell */
}

.item:nth-child(5) {
  background: orange;
  border: 2px solid olivedrab;
  grid-column: 2 / 4;
}

.item:nth-child(8) {
  background: orange;
  border: 2px solid olivedrab;
  grid-column: 2 / span 3; /* Start in line 2 and take 3 columns */
}

.item:nth-child(9) {
  background: orange;
  border: 2px solid olivedrab;
  grid-column: 1 / -1; /* Start in line 1 until last line */
}
