[class^="container-"] {
  display: grid;
  grid-gap: 10px;
}

.container-fr {
  grid-template: 1fr / repeat(4, 1fr);
}

.container-minmax {
  grid-template: 1fr / repeat(4, minmax(200px, 1fr));
}

.item {
  background: olivedrab;
  border: 2px solid orange;
  padding: 10px;
}
